doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Upload a file
    link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(href='stylesheets/style.css', rel='stylesheet')
  body
    .container
      .row
        .col-xs-12
          .panel.panel-default
            .share-link
              h2 Share this link
              h4
                | Once this file is downloaded, it will be securely
                b &nbsp;deleted forever.&nbsp;
                | This link will expire in 48 hours.
              input.link
              button.btn.clip-btn(data-clipboard-target='.link')
                img.clip(src='images/clippy.svg', alt='Copy to clipboard')
                span.copied Copied!
            .panel-body
              h2 Simple file uploader
              h4 One-time file sharer. Once downloaded, it will be deleted forever
              .progress
                .progress-bar(role='progressbar')
              button.btn.btn-lg.upload-btn(type='button') Upload File
    input#upload(type='file', name='uploads[]')
    script(src="https://cdn.jsdelivr.net/clipboard.js/1.5.13/clipboard.min.js")
    script(src='https://code.jquery.com/jquery-2.2.0.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='javascripts/upload.js')
